.products__list {
    display: grid;
    gap: 15px;
}

.product-card {
    border: 1px solid black;
    padding: 5px;
}

@media (min-width: 600px) {
    .products__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}